%h1.page-header
  Tracks Matching #{params[:tracks_name]}

%ul
  - @tracks.each do |track|
    %li
      =track.id
      |
      %iframe{ :src => "https://embed.spotify.com/?uri=spotify:track:#{track.id}",
                :frameborder => 0,
                :allowtransparency => true}