%h1.page-header
  = @playlist.name
%ul.list-group
  - @playlist.tracks.each do |track |
    %li.list-group-item
      = track.name
      |
      %span{ :class => "glyphicon glyphicon-star-empty",
             :name => track.id}


