%h1.page-header
  = @playlist.name
%ul.list-group
  - @playlist.tracks.each do |track |
    %li{:class => 'list-group-item', :id => track.id}
      = track.name
      |
      %span{ :class => "glyphicon glyphicon-star-empty",
             :id => track.id}


